form {
  width: 400px;
  margin: 0 auto;
}

label, input,select, textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 400px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="gender"],
input[type="location"],
textarea {
  width: 100%;
  padding: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.contact-form label {
  color: white;
}

label {
  font-weight: bold;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(5px, 5px);
  }
}

.button-container {
  display: flex;
  justify-content: center; /* Align button to the center horizontally */
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #1b34ec;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* To position the button */
}